<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Programación Visual</title>
	</head>
	<body>
		<header>
		<h1>PROGRAMACION VISUAL</h1>
		</header>
		<nav> 
		<a href="#horarios"> Horarios de Clase </a>
		<a href="#fechas"> Fechas Importantes</a>
		<a href="#temas"> Temas vistos hasta el Momento</a>
		</nav>
		<main>
			<section>
			<h2>Objetivo general de la Materia</h2>
			<p>En esta materia, exploraremos las herramientas y tecnologías fundamentales para desarrollar aplicaciones web y mejorar la experiencia de usuario a través de la programación visual. A lo largo del curso, nos sumergiremos en diversos aspectos clave de la programación, abarcando desde la construcción de interfaces de usuario atractivas hasta la implementación de funcionalidades dinámicas. </p>
			<p>Al finalizar esta materia, los estudiantes estarán capacitados para desarrollar aplicaciones web interactivas y visualmente atractivas, integrando las herramientas y tecnologías de manera efectiva en sus proyectos.</p>
			</section>
			<section id="temas">
			<h2>Temas vistos hasta el Momento</h2>
			<p>Los temas aprendidos en el curso incluyen la configuración del entorno de desarrollo, el uso de Java JDK 19 y Spring Tool Suite,la implementación en GitHub. Además, se introdujo a los estudiantes en la programación en Java, abordando la creación de clases, atributos, métodos, estructuras de control, y profundizando en conceptos como atributos, constructores, métodos accesores, estructuras de control iterativas, tipos de datos String y Fecha, excepciones, y conversiones de datos. También se exploraron herramientas como Git para versionamiento, el uso de arreglos, interfaces, colecciones, y proyectos Maven.</p>
			<p>Además, se proporcionó un marco teórico y práctico más profundo sobre el versionamiento con Git, se describió el uso de enumerados, se introdujeron las funcionalidades de la programación funcional en Java, y se ejemplificó la creación de aplicaciones Spring Boot para proyectos Java desktop. Se conceptualizó la arquitectura de aplicaciones web en el contexto de las tecnologías utilizadas. También se abordaron conceptos sobre frameworks, como Spring Framework y Spring Boot, junto con una introducción a la capa controller y HTML.</p>
			</section>
			<section id="fechas">
			<h3 >Fechas Importantes</h3>
			<ul>
				<li><strong>1er Parcial:</strong> 15/05/2024</li>
				<li><strong>Recuperatorio:</strong> 22/05/2024</li>
				<li><strong>Defensa del TP Final:</strong> 26/06/2024</li>
			</ul>
			</section>
			<section id="horarios">
			<h3> Horarios de Clases: </h3>
			<table border="1">
				<tr>
					<td  bgcolor="#CCFFCC">Lunes</td>
					<td  bgcolor="#CCFFCC">Martes</td>
					<td  bgcolor="#CCFFCC">Miercoles</td>
					<td  bgcolor="#CCFFCC">Jueves</td>
					<td  bgcolor="#CCFFCC">Viernes</td>
				</tr>
				<tr>
					<td>Clase Practica 18 a 21hs</td>
					<td>         Sin    Clases  </td>
					<td>Clase Teorica 14 a 17hs</td>
					<td>Clase Practica 14 a 17hs</td>
					<td>Clase Practica 18 a 21hs</td>
				<tr>
			</table>
			</section>
		</main>
		<aside>
			<h4>Recursos para ampliar conocimiento</h4>
			<h5>Libro de Java</h5>
			<img src= "../static/images/logojava.png" alt="logo java" width="180" height="150">
			<p>Desde los fundamentos hasta temas avanzados, este libro te guiará a través de la sintaxis del lenguaje, la creación de clases y objetos, el manejo de excepciones, el uso de colecciones y mucho más. </p>
			<h5><a href="https://todocodeacademy.com/course/git-y-github-desde-cero/">Curso de Git</a></h5>
			<img src= "../static/images/git.webp" alt="Logo Git" width="180" height="150">
			<p>Aprende a dominar el control de versiones con este curso completo de Git. Desde los conceptos básicos hasta técnicas avanzadas, este curso te proporcionará las habilidades necesarias para gestionar eficazmente tus proyectos de software. </p>
		</aside>
	<footer> Guadalupe Veliz <a href= www.facebbok.com>Facebook</a> <a href= www.twitter.com>Twitter</a> <a href= www.gmail.com>Gmail</a></footer>
	</body>
</html>